@model List<ProjectInfo>
@{
    ViewData["Title"] = "My Projects";
}
<head>
    <h2 class="welcome">@User.Identity.Name's Projects</h2>
</head>

<div>
    @foreach (var user in Model)
    {
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h3><a class="proj" href="">@user.ProjectName</a></h3>
                </div>
                <label>Project Manager</label>
                <div class="card-body">
                    <h6>@user.ProjectManagerName</h6>
                </div>
                <hr class="dash">
                <label>Project Description</label>
                <div class="card-body">
                    <p>@user.ProjectDescription</p>
                </div>
                <hr class="dash">
                <label>Tasks</label>
                <div class="card-body">
                    @foreach (var task in @user.Tasks)
                    {
                        <li>@task</li>
                    }
                </div>
                <hr class="dash">
                <label>Team Members</label>
                <div class="card-body">
                    @foreach (var member in @user.Members)
                    {
                        <li>@member</li>
                    }
                </div>
            </div>
        </div>
    }
</div>

<a class="createBtn" href="@Url.Action("Create", "Project")">New Project</a>