@model List<ProjectInfo>
@*Comment*@
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <title>Test</title>
    <h1 class="Head">My Projects</h1>
</head>
<div>
        @foreach (var user in Model)
        {
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h3><a href="">@user.ProjectName</a></h3>
                    </div>
                    <label>Project Manager</label>
                    <div class ="card-body">
                        <h6>@user.ProjectManagerName</h6>
                    </div>
                    <label>Project Description</label>
                    <div class ="card-body">
                        <p>@user.ProjectDescription</p>
                    </div>
                    <label>Tasks</label>
                    <div class="card-body">
                        @foreach (var task in @user.Tasks)
                        {
                            <li>@task</li>
                        }
                    </div>
                    <label>Team Members</label>
                    <div class="card-body">
                        @foreach (var member in @user.Members)
                        {
                            <li>@member</li>
                        }
                    </div>
                </div>
            </div>
                }
                
        </div>

<a href="@Url.Action("Create", "Project")">Add Project</a>