@model List<ProjectInfo>
@*Comment*@
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <title>Test</title>
</head>
<div>
    <h1>My Projects</h1>
    <table>
        <thead>
        <tr>
            <th>Project Name</th>
            <th>Project Manager</th>
            <th>Project Description</th>
            <th>Tasks</th>
            <th>Members</th>
            <th>Project Active</th>
        </tr>
        </thead>
        @foreach (var user in Model)
        {
            <tr>
                
                <td><a href="">@user.ProjectName</a></td>
                <td>@user.ProjectManagerName</td>
                <td>@user.ProjectDescription</td>
                <td>
                    @foreach (var task in @user.Tasks)
                    {
                        <li>@task</li>
                    }
                </td>
                <td>
                    @foreach (var member in @user.Members)
                    {
                        <li>@member</li>
                    }
                </td>
                <td>@user.ProjectActive</td>
            </tr>
        }
    </table>
</div>


<a href="@Url.Action("Create", "Project")">Add Project</a>